<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="casio_physicalstore" id="casio_physicalstore">
			<module before="Magento_Backend" name="Casio_PhysicalStore"/>
		</route>
	</router>
</config>
