<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Casio\PhysicalStore\Api\PhysicalStoreRepositoryInterface" type="Casio\PhysicalStore\Model\PhysicalStoreRepository"/>
	<preference for="Casio\PhysicalStore\Api\Data\PhysicalStoreInterface" type="Casio\PhysicalStore\Model\Data\PhysicalStore"/>
	<preference for="Casio\PhysicalStore\Api\Data\PhysicalStoreSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Casio\PhysicalStore\Model\ResourceModel\PhysicalStore\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">casio_physicalstore_physicalstore</argument>
			<argument name="resourceModel" xsi:type="string">Casio\PhysicalStore\Model\ResourceModel\PhysicalStore\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="casio_physicalstore_physicalstore_listing_data_source" xsi:type="string">Casio\PhysicalStore\Model\ResourceModel\PhysicalStore\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
    <type name="Magento\Framework\GraphQl\Query\Resolver\Argument\FieldEntityAttributesPool">
        <arguments>
            <argument name="attributesInstances" xsi:type="array">
                <item name="PhysicalStore" xsi:type="object">
                    \Casio\PhysicalStore\Model\Resolver\FilterArgument
                </item>
            </argument>
        </arguments>
    </type>
</config>
