<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="casio_shop" id="casio_shop">
			<module before="Magento_Backend" name="Casio_Shop"/>
		</route>
	</router>
</config>
