<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Casio_Shop::Shop" sortOrder="10" title="Shop">
					<resource id="Casio_Shop::Shop_save" sortOrder="10" title="Save Shop"/>
					<resource id="Casio_Shop::Shop_delete" sortOrder="20" title="Delete Shop"/>
					<resource id="Casio_Shop::Shop_update" sortOrder="30" title="Update Shop"/>
					<resource id="Casio_Shop::Shop_view" sortOrder="40" title="View Shop"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
